/* cart page styling */
#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #444444;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody tr {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#coupon {
    flex: 1;
    margin-bottom: 15px;
}

#coupon h3,
#sub-total h3 {
    margin-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e2e2;
}

#coupon .apply-btn {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #1a63b5;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#coupon .apply-btn:hover {
    background-color: #10437e;
    color: white;
}

#sub-total {
    flex: 1;
    margin-bottom: 30px;
    border: 1px solid #e2e2e2;
    padding: 30px;
    text-align: center;
}

#sub-total table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#sub-total table td {
    width: 50%;
    border: 1px solid #e2e2e2;
    padding: 10px;
    font-size: 13px;
}

#sub-total .subtotal-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #1a63b5;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#sub-total .subtotal-btn:hover {
    color: white;
    outline: none;
    background-color: #10437e;
}