/* contact page  */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
     
 }
 
 #contact-details .details {
     width: 40%;
 }
 
 #contact-details .details h2,
 #form-section form h2 {
     font-size: 28px;
     line-height: 35px;
     padding: 20px 0;
 }
 
 #contact-details .details h3 {
     font-size: 18px;
     padding-bottom: 10px;
     
 }
 #contact-details .details span,
 #form-section form span {
     font-size: 16px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 500;
     color: #252525;
 }
 
 #contact-details .details li p {
     margin: 0;
     font-size: 16px;
 }
 
 #contact-details .info li {
     list-style: none;
     display: flex;
     padding: 10px 0;
     color: #108670; 
 }
 
 #contact-details .info li i {
     font-size: 16px;
     padding-right: 22px;
     color: #1a63b5;
 }
 
 #contact-details .map {
     width: 55%;
     height: 480px;
     
 }
 
 #contact-details .map iframe{
     width: 100%;
     height: 100%;
 }
 
 /* form in contact page */
 #form-section {
     display: flex;
     justify-content: space-between;
     margin: 30px;
     padding: 80px;
     border: 1px solid #e1e1e1;
 }
 
 #form-section form {
     width: 65%;
     display: flex;
     flex-direction: column;
 }
 
 #form-section form input,
 #form-section form textarea {
     width: 100%;
     padding: 15px 15px;
     outline: none;
     margin-bottom: 20px;
     border: 1px solid #e1e1e1;
     font-size: 16px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #818ea0;
 }
 
 #form-section form button {
     width: 100px;
     padding: 15px;
     border: none;
     border-radius: 4px;
     background-color: #088178;
     color: white;  
 }
 
 #form-section form button:hover {
     cursor: pointer;
     transition: 0.3s ease;
     transform: translate(5px, 5px);
     border-radius: 5px;
 }
 
 /* right part of form */
 #form-secton .person {
     padding-bottom: 25px;
 }
 
 .emp-image {
     display: flex;
     align-items: center;
     padding-bottom: 25px;
 }
 figure{
     display: flex;flex-direction: column;
 }
 figure ul{
     list-style: none;
     color: #444444;
     margin-left: 20px;
 }
 figure ul li{
     margin-bottom: 7px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 14px;
 }
 figure .text-container {
     display: flex;
     flex-direction: column;
 }
 figure img {
     height: 65px;
     width: 65px;
     object-fit: cover;
     border-radius: 50px;
 }
 
 figure figcaption {
     line-height: 30px;
     margin-left: 20px;
     font-size: 18px;
     font-weight: 700;
 } 