@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100,200,300,400,500,600,700,800,900&display=swap');
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* Register Form login form,  */

.form-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    
  }

  .form-container h3 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
  }

  .form-container .message {
    background-color: #ffcfcf;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #e74c3c;
  }

  .form-container .box {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .form-container .btn {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .form-container .btn:hover {
    background-color: #2980b9;
  }

  .form-container p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
  }

  .form-container a {
    color: #3498db;
    text-decoration: none;
  }

  .form-container a:hover {
    text-decoration: underline;
  }

  
/* .container{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.container .profile{
   padding:20px;
   background-color: ;
   box-shadow: ;
   text-align: center;
   width: 400px;
   border-radius: 5px;
}

.container .profile img{
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.container .profile h3{
   margin:5px 0;
   font-size: 20px;
   color:var(--black);
}

.container .profile p{
   margin-top: 20px;
   color:var(--black);
   font-size: 20px;
}

.container .profile p a{
   color:var(--red);
}

.container .profile p a:hover{
   text-decoration: underline;
} */



.update-profile{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.update-profile form{
   padding:20px;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 700px;
   text-align: center;
   border-radius: 5px;
}

.update-profile form img{
   height: 200px;
   width: 200p;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.update-profile form .flex{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   gap:15px;
}

.update-profile form .flex .inputBox{
   width: 49%;
}

.update-profile form .flex .inputBox span{
   text-align: left;
   display: block;
   margin-top: 15px;
   font-size: 17px;
   color:var(--black);
}

.update-profile form .flex .inputBox .box{
   width: 100%;
   border-radius: 5px;
   background-color: var(--light-bg);
   padding:12px 14px;
   font-size: 17px;
   color:var(--black);
   margin-top: 10px;
}

 /* Manage Customer.html */
/* Customer Details */
.cd-container {
    margin: 20px auto;
    width: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
 }

/* .cd-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
 } */

.cd-container .user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
 }

.cd-container .user-table th,
.cd-container .user-table td {
    padding: 10px;
    text-align: left;
 }

.cd-container .user-table th {
    background-color: #007bff;
    color: #fff;
 }

.cd-container .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
 }

.cd-container .user-table a {
    color: #007bff;
    text-decoration: none;
 }

.cd-container .user-table a:hover {
    text-decoration: underline;
 }

/* Upadate Customer.HTML */
.upd-form-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
 }
 
 .upd-form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
 }
 
 .upd-form-container h3 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
 }
 
 .upd-form-container .input-group {
    margin-bottom: 20px;
 }
 
 .upd-form-container label {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
 }
 
 .upd-form-container input[type="text"],
 .upd-form-container input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
 }
 
 .upd-form-container input[type="hidden"],
 .upd-form-container input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
 }
 
 .upd-form-container input[type="submit"]:hover {
    background-color: #2980b9;
 }
 
 .upd-form-container p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
 }
 
 .upd-form-container a {
    color: #3498db;
    text-decoration: none;
 }
 
 .upd-form-container a:hover {
    text-decoration: underline;
 }




 /* responsive media query */
@media (max-width:650px){
   .update-profile form .flex{
      flex-wrap: wrap;
      gap:0;
   }
   .update-profile form .flex .inputBox{
      width: 100%;
   }
}