
#pro-details {
    display: flex;
    margin-top: 20px;
}
#pro-details .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.single-pro-image img {
    width: 100%;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.small-img {
    width: 100%;
}

#pro-details .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#pro-details .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#pro-details .single-pro-details h2 {
    font-size: 26px;
}

#pro-details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#pro-details .single-pro-details input {
    width: 50px;
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#pro-details .single-pro-details input:focus {
    outline: none;
}

#pro-details .single-pro-details button {
        width: 120px;
        padding: 15px;
        background-color: #1a63b5;
        border: none;
        border-radius: 4px;
        color: #ffffff;
        font-weight: 700;
        transition: 0.3s;
}
#pro-details .single-pro-details button:hover {
        width: 120px;
        padding: 10px;
        border: 2px solid #1a63b5;
        color:#1a63b5;
        background-color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 700;
        
}

